groups:
  - name: node_alerts

    rules:

      - alert: HighCPUUsage

        expr: |
          100 - (
            avg by(instance)(
              rate(node_cpu_seconds_total{mode="idle"}[1m])
            ) * 100
          ) > 80

        for: 1m

        labels:
          severity: warning

        annotations:
          summary: "High CPU usage"
          description: "CPU usage is above 80%"

      - alert: HighMemoryUsage

        expr: |
          (
            1 - (
              node_memory_MemAvailable_bytes
              /
              node_memory_MemTotal_bytes
            )
          ) * 100 > 80

        for: 1m

        labels:
          severity: critical

        annotations:
          summary: "High memory usage"
          description: "RAM usage is above 80%"