[Unit]
Description=Prometheus
After=network.target

[Service]
User={{ prometheus_user }}
ExecStart=/opt/prometheus-{{ prometheus_version }}.linux-amd64/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus

[Install]
WantedBy=multi-user.target